<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Bem vindo,treinador <%= @user.name %>!</h1>
<p>Você agora pode acessar o sistema App Bom de Bola gerenciar seu time e se informar das suas próximas partidas!</p>
</body>
</html>